.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rebeccapurple;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .navLinks li {
    padding-right: 2rem;
    color: black;
  }
  
  .navLinks a {
    color: black;
  }
  
  .navLinks :hover {
    color:pink;
  }
  .title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
  }
  